[user]
	email = damien.gonot@gmail.com
    name = Damien Gonot
    signingkey = 686E37EEC6018364
[core]
	editor = nvim
[pull]
	rebase = true
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[github]
	user = mewfree
